
<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>

<form class="example-container center">

    <p></p>
  <mat-form-field>
    <mat-label>Device</mat-label>
    <mat-select [(ngModel)]="selectedDom" name="d">
      <mat-option *ngFor="let d of user" [value]="d.name">
        {{d.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected device: {{selectedDom}} </p>

  <mat-form-field>
    <mat-label>Domain</mat-label>
    <mat-select [(ngModel)]="selectedPhone" name="p">
      <mat-option *ngFor="let p of user" [value]="p.phone">
        {{p.phone}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected domain: {{selectedPhone}} </p>

</form>

<p></p>

<p></p>
<!--
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">

  &lt;!&ndash;- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" &ndash;&gt;

  &lt;!&ndash; Position Column &ndash;&gt;
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge"> ID</span></a></th>

    <td mat-cell *matCellDef="let element"> {{element.id}}</td>

  </ng-container>

  &lt;!&ndash; Name Column &ndash;&gt;
  <a href="#!" class="collection-item"><span class="badge">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge"> Name</span></a></th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
 </span></a>
  &lt;!&ndash; Weight Column &ndash;&gt;
  <a href="#!" class="collection-item"><span class="badge">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge">  Username</span></a></th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
 </span></a>
  &lt;!&ndash; Symbol Column &ndash;&gt;
  <a href="#!" class="collection-item"><span class="badge">
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge">  Phone</span></a></th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>
 </span></a>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
-->


<p></p>
<div class="mat-elevation-z10">

  <table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge"> UserId</span></a></th>

      <td mat-cell *matCellDef="let element"> {{element.userId}}</td>

    </ng-container>

    <!-- Name Column -->
    <a href="#!" class="collection-item"><span class="badge">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge"> ID</span></a></th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
 </span></a>
    <!-- Weight Column -->
    <a href="#!" class="collection-item"><span class="badge">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge">  Title</span></a></th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>

  </ng-container>
 </span></a>
    <!-- Symbol Column -->
    <a href="#!" class="collection-item"><span class="badge">
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef><a href="#!" class="collection-item"><span class="badge">  Completed</span></a></th>
    <td mat-cell *matCellDef="let element" > <mat-checkbox [checked]="element.completed" [(ngModel)]="element.completed"></mat-checkbox> {{element.completed}} <mat-slide-toggle [checked]="element.completed" [(ngModel)]="element.completed"></mat-slide-toggle></td>
  </ng-container>
    </span></a>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="values(row);"></tr>


  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
</div>
